/* https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/light-dark */
:root {
    color-scheme: light dark;
    --text-colour: light-dark(black, white);
    --colour-1: light-dark(white, #353535);
    --colour-2: light-dark(#5FA7AB, #0E5181);
    --colour-3: light-dark(#44Af69, #28673E);
    --colour-4: light-dark(#F2F0EF, #66615E);
    --colour-5: light-dark(#ADD7F6, #2A4E50);
    --colour-6: light-dark(darkgrey, lightgrey);
}

html {
    height: 100%;
}

*:not(.parent-styled) {
    color: var(--text-colour);
}

.light {
    color-scheme: light !important;
}

.dark {
    color-scheme: dark !important;
}

/* Roboto font + styling from Google Fonts */
body {
    margin: 0;
    background-color: var(--colour-4);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

main {
    margin: 0 auto;
    max-width: 1000px;
    background-color: var(--colour-1);
    height: 100%;
    min-height: 100vh;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.25);
}

.nav.list {
    display: flex;
    border-bottom: 1px solid var(--text-colour);
}

.nav.item {
    display: flex;
    border-right: 1px solid var(--text-colour);
}

.nav.item a {
    color: var(--text-colour);
    text-decoration: none;
    padding: 15px;
}

.nav.item.selected {
    background-color: var(--colour-2);
}

.stretch {
    flex-grow: 1;
}

.nav.item button {
    color: var(--text-colour);
    border: 0;
    background-color: var(--colour-2);
    padding: 15px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: inherit;
}