{% extends 'layout.html' %}
{% block critical_files_preload %}
<link rel="preload" href="{{ url_for('static', filename='css/browse.css') }}" crossorigin="anonymous" as="style" integrity="<integrity_hash>">
{% endblock %}
{% block critical_files %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/browse.css') }}" crossorigin="anonymous" integrity="<integrity_hash>">
<script type="module" src="{{ url_for('static', filename='js/search.js') }}" async defer crossorigin="anonymous" integrity="<integrity_hash>"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}" fetchpriority="low" crossorigin="anonymous" integrity="<integrity_hash>">
{% endblock %}
{% block selected_browse %} selected{% endblock %}
{% block content %}
<div id="outerSearchBox">
    <!-- https://stackoverflow.com/questions/1818249/form-with-no-action-and-where-enter-does-not-reload-page -->
    <form id="searchContainer" action="javascript:void(0);">
        <input type="text" id="searchBox" class="stretch" placeholder="Search..."></input>
        <button type="submit" id="searchBtn">Go</button>
    </form>
</div>
<div id="lowerBox">
    <div id="filterPane">
        <h2>Search Filters</h2>
        {% for filter in filters %}
        <div class="filter-section{% if filter.shown_source is not none %} hidden{% endif %}"{% if filter.shown_source is not none %} data-shown-source="{{ filter.shown_source }}"{% endif %}>
            <h3>{{ filter.title }}</h3>
            <div class="filter-not-title">
                <form class="filter-options" name="{{ filter.name }}" data-type="{{ filter.type }}">
                    {% if filter.type == "radio" %}
                    {% for option in filter.options %}
                    <div class="filter-option">
                        <input type="radio" id="{{ option.id }}" name="{{ filter.name }}" value="{{ option.id }}"{% if option.id == filter.default %} checked{% endif %}>
                        <label for="{{ option.id }}">{{ option.name }}</label>
                    </div>
                    {% endfor %}
                    {% elif filter.type == "range" %}
                    <div class="filter-option">
                        <input type="range" id="{{ filter.id }}" name="{{ filter.name }}" min="{{ filter.min }}" max="{{ filter.max }}" value="{{ filter.default }}" step="{{ filter.step }}">
                        <div class="filter-range-label">
                            <label id="{{ filter.id }}Label" for="{{ filter.id }}">{{ filter.default }}</label>
                        </div>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="resultsPane">
        <div id="resultsInner">

        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script nonce="{{ csp_nonce() }}">
    // IIFE because this kills variables after finishing
    (function() {
        let init = function() {
            let el = document.getElementById("resultsSlider");
            el.nextElementSibling.children[0].innerText = el.value;
        }
        if (document.readyState !== "loading") {
            init()
        } else {
            document.addEventListener("DOMContentLoaded", init);
        }
    })();
</script>
{% endblock %}
