{% extends 'layout.html' %}
{% block critical_files_preload %}
<link rel="preload" href="{{ url_for('static', filename='css/browse.css') }}" crossorigin="anonymous" as="style">
{% endblock %}
{% block preload_head %}
{% if results %}
{% for item in results %}
<link rel="preload" href="{{ url_for('static', filename=('cache/' + item.id + '/thumb.' + item.thumb_ext)) }}" as="image" type="{{item.thumb_mime}}">
{% endfor %}
{% endif %}
{% endblock %}
{% block critical_files %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/browse.css') }}">
{% endblock %}
{% block selected_browse %} selected{% endblock %}
{% block content %}
<div class="nav item stretch">
    <div id="search_container">
        <input type="text" id="search_box" class="stretch" placeholder="Search..."></input>
        <button id="search_btn">Go</button>
    </div>
</div>
{% endblock %}