{% extends 'layout.html' %}
{% block critical_files_preload %}
<link rel="preload" href="{{ url_for('static', filename='css/browse.css') }}" crossorigin="anonymous" as="style" integrity="<integrity_hash>">
{% endblock %}
{% block critical_files %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/browse.css') }}" crossorigin="anonymous" integrity="<integrity_hash>">
<script type="module" src="{{ url_for('static', filename='js/search.js') }}" async defer crossorigin="anonymous" integrity="<integrity_hash>"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}" fetchpriority="low" crossorigin="anonymous" integrity="<integrity_hash>">
{% endblock %}
{% block selected_query %} selected{% endblock %}
{% block content %}
<div id="outerSearchBox">
    <div id="searchContainer">
        <input type="text" id="searchBox" class="stretch" placeholder="Search..."></input>
        <button id="searchBtn">Go</button>
    </div>
</div>
<div id="lowerBox">
    <div id="filterPane">

    </div>
    <div id="resultsPane">
        <div id="resultsInner">
            
        </div>
    </div>
</div>
{% endblock %}
